// Specific CSS for your home-page
// .banner {
//   color: white;
//   position: relative;
// }

.banner h1 {
  font-size: 160px;
  font-family: 'Barlow Semi Condensed', sans-serif;
  font-weight: 'bold 700';
  letter-spacing: 1.3rem;
}

.header-container {
  color: #ffffff;
  padding: 260px;
  text-decoration: none !important;
}

.banner {
  background: url("IMG_3377_qgaz0g.jpg");
  display: block;
  width: 100%;
  height: 100vh;
  text-decoration: none !important;
}

.title {
  padding: 2cm;
}

.team-photos {
  display: flexbox;
}
