<div class="container">
  <div class="form">
  </div>
</div>
<div>
  <%= simple_form_for (@booking) do |f| %>
    <h6 class="form-input"><%= f.input :start_time %></h6>
    <h6 class="form-input"><%= f.input :date %></h6>
    <h6 class="form-input"><%= f.button :submit  %></h6>

  <% end %>

</div>
