<div class="text-center">
    <h1><%= @player.first_name %></h1>

    <div>
      <p><%= @player.email %> <%= render partial: "stats", locals: {user: @player} %></p>
      <%= render 'bio_show' %>
    </div>

    <div><h3>Bio:</h3></div>
</div>
