.avatar {
  width: 40px;
  border-radius: 50%;
}
.avatar-large {
  width: 56px;
  border-radius: 50%;
}
.avatar-bordered {
  width: 40px;
  border-radius: 50%;
  box-shadow: 0 1px 2px rgba(0,0,0,0.2);
  border: white 1px solid;
}
.avatar-square {
  width: 40px;
  border-radius: 0px;
  box-shadow: 0 1px 2px rgba(0,0,0,0.2);
  border: white 1px solid;
}

.team-photos {
  column-count: 4;
}

.team-photos h1 {
  text-align: center;
}


.box-friends {
  width: 75%;
  height: fit-content;
  margin: auto;
  padding: 10px;
}

.box-friends h2 {
  color: #40531b;
  font-family: 'Barlow Semi Condensed', sans-serif;
  letter-spacing: 3px;
}

.box-friends img {
  height: 300px;
  width: 300px;
  object-fit: cover;
  padding: 5px;
  border-radius: 10px;
  transition: all 0.3s;
  transform: scale(1) ease;
}

.box-friends img:hover {
  transform: scale(1.1);
}

.style_image {
  width: 100%;
  border-radius: 0px;
  // padding: 10px;
  // box-sizing: border-box;
  margin: 0 auto;
  zoom: 1;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  margin: 14px;
}


.show-user {
  text-align: center;
  background-color: white;
  border: 3cm;
  // border-color: red;
  display: flex;
  align-items: center;
  justify-content: center;
}

.user-page-infor {
  border: 20px;
}

#card-booking-body {
  display: flex;
  justify-content: center;
}






////////////////////

.text-white {
  color: #40531B !important;
  font-family: 'Barlow', sans-serif;
  font-weight: bold;
  display: flex;
  justify-content: center;
  width: 100%;
}

.text-white h4{
  font-family: 'Barlow', sans-serif;
  font-size: 30px;
  color: #40531b;
}
.ui-bg-overlay-container, .ui-bg-video-container {
  position: relative;
  color: #40531b;
}
.ui-bg-cover {
  background-color: whitesmoke;
  background-position: center center;
  background-size: cover;
  margin: auto;
}
.ui-bg-overlay-container .ui-bg-overlay .h4{
  background-color: white;
  border: solid;
  border-radius: 12px;
  color: green;
  position: absolute;
  top: 10px;
  right: -9px;
  bottom: 11px;
  left: -1px;
  display: block;
  padding-left: 40px;
  padding-right: 40px;
  color: #40531b;
}

.bg-dark {
  // background-color: rgba(24,28,33,0.9) !important;
}
.opacity-50 {
  opacity: .5 !important;

}
.bg-dark {
  // background-color: rgba(24,28,33,0.9) !important;
}
.ui-bg-overlay-container>*, .ui-bg-video-container>* {
  position: relative;
}
@media (min-width: 992px){
  .container, .container-fluid {
      padding-right: 2rem;
      padding-left: 2rem;
  }
}
.media, .media>:not(.media-body), .jumbotron, .card {
  -ms-flex-negative: 1;
  flex-shrink: 1;
}
.d-flex, .d-inline-flex, .media, .media>:not(.media-body), .jumbotron, .card {
  -ms-flex-negative: 1;
  flex-shrink: 1;
}
.ui-w-100 {
  width: 0 !important;
  height: auto;
}
.font-weight-bold {
  font-weight: 700 !important;
}
.opacity-75 {
  opacity: .75 !important;
  color: #40531b;

}
.tabs-alt.nav-tabs .nav-link.active, .tabs-alt.nav-tabs .nav-link.active:hover, .tabs-alt.nav-tabs .nav-link.active:focus, .tabs-alt>.nav-tabs .nav-link.active, .tabs-alt>.nav-tabs .nav-link.active:hover, .tabs-alt>.nav-tabs .nav-link.active:focus {
  -webkit-box-shadow: 0 -2px 0 #40531B inset;
  box-shadow: 0 -2px 0 #40531B inset;
}

.nav-tabs:not(.nav-fill):not(.nav-justified) .nav-link, .nav-pills:not(.nav-fill):not(.nav-justified) .nav-link {
  margin-right: .125rem;
  background-color: #618B4A;;
}
.nav-tabs.tabs-alt .nav-link, .tabs-alt>.nav-tabs .nav-link {
  border-width: 0 !important;
  border-radius: 0 !important;
  background-color: transparent !important;
}
.nav-tabs .nav-link.active {
  border-bottom-color: #fff;
}

.list .list-item h1 {
  font-family: 'Barlow', sans-serif;
  font-weight: bolder;
  color: #40531b;
}

#nav-show {
  border: #40531b solid;
  border-radius: 12px;
  top: 10px;
  right: -9px;
  bottom: 11px;
  left: -1px;
  opacity: 80%;
}

.user-follows {
  margin: 0;
}

.user-bg-color {
  background-color: #fff;
  height: 100vh;
  overflow: scroll;
  border-top: 1px solid #eaf4e4;
}
