#page-container {
  // position: relative;
  min-height: 100vh;
}

.test {
  min-height: calc(100vh - 100px);
}


// Specific CSS for your home-page
// .banner {
//   color: white;
//   position: relative;
// }

.description {
  color: #40531b;
  margin: 10px;
  padding: 100px;
  font-family: 'Barlow Semi Condensed', sans-serif;
}

#descrip {
  color: #40531b;
  font-family: 'Barlow Semi Condensed', sans-serif;
  letter-spacing: 2px;
}

.sign-up-div{
  padding: 80px;
}

.sign-up-div h5 {
  font-size: 30px;
  color: #40531b;
  font-family: 'Barlow Semi Condensed', sans-serif;
  letter-spacing: 3px;
}

.team {
  color: #40531b;
}

.select-course {
  text-decoration: none !important;
  color: #40531b;
}

.how-it-works {
  color: #40531b;
  // border: 30px;
  display: flex;
  justify-content: space-evenly;
  // padding: 20px;
  margin: 50px;
}

.how-photos {
  // padding: 20px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);

  // background-color: #ffffff;
  // background-clip: border-box;
  // display: contents;
}

.how {
  font-family: 'Barlow Semi Condensed', sans-serif;
  color: #40531b;
  letter-spacing: 7px;
}


// button



// margin


// box shadows



// colours - slack



// fonts - never black - dark green
