.btn{
  width: 100px;
  border-radius: 10px;
}
.btn a{
  color: white;

}
.success{
  margin-bottom: 10px;
  background-color: #618B4A;
  // margin-left: 60px;
}
.danger{
  background-color: #618B4A;
}

.booking-container {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 1000px;
  height: 600px;
  background-color: white;
  border-radius: 12px;
  box-shadow: 2px 2px 8px rgba(0, 0, 0, 40%);
  // border: 4px solid $golfgreen;
}

.booking{
  text-align: center;
  font-weight: bold;
  padding-bottom: 20px;
  font-size: 4rem;
  color: white;

}
.course-name{
  text-align: center;
  font-size: 3rem;
  font-weight: 600;
  color: white;
  transition-duration: 0.5s;
}

.course-name:hover{
  text-align: center;
  font-size: 3rem;
  font-weight: 600;
  color: #e4e8e5;
}

.followee-text {
  color: $golfdarkgreen;
}

.followee-text:hover {
  color: $golfgreen;
}

.booking-border {
  text-align: center;
  box-shadow: 2px 2px 2px rgba(182, 172, 172, 0.5);
  width: 300px;
  margin: auto;
  margin-bottom: 10px;
  padding: 8px 0;
  color: white;
  border-radius: 12px;
}


.booking-page-container img{
  // position: absolute;
  width: 100%;
}

.booking-page-container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: linear-gradient(to right, rgba(47,48,58,0.8), rgba(47,48,58,0.8)),url("golf-field.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.booking-confirmed-details {
  width: 450px;
  height: 500px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-around;
  border-radius: 12px;
  background-image: linear-gradient(rgba(8, 30, 12, 0.5), rgba(0, 0, 0, 0.9)), url('gimmegolf_v2.jpg');
}

.booking-button-container {
  height: auto;
  padding: 8px 0;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.booking-invite-button {
  background-color: $golfdarkgreen;
  font-size: 0.8rem;
  padding: 6px 12px;
  color: white;
  border-radius: 8px;
  border-width: 0;
}

.booking-invite-button-disabled {
  background-color: grey;
  opacity: 0.8;
  color: white;
}

.booking-invite-button:hover {
  background-color: $golfgreen;
  color: white
}

.booking-user-deets {
  display: flex;
  align-items: center;
}

.booking-invite-users {
  width: 450px;
  height: 600px;
  overflow: auto;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.booking-invite-users ul {
  padding: 16px 12px;
  background: rgba(211, 211, 211, 0.2);
  border-radius: 12px;
}
.location{
  text-align: center;
}

.booking-confirmation-back {
  background-color: $golfdarkgreen;
  padding: 6px 12px;
  border-radius: 8px;
  border-width: 0;
  // border: 1px solid white;
}

.booking-confirmation-back a {
  color: white;
}

.booking-confirmation-back:hover {
  background-color: $golfgreen;
}


.booking-confirmation-cancel {
  background-color: darkgray;
}

.booking-confirmation-cancel:hover {
  background-color: darkgray;

}

.booking-follower-li {
  list-style-type: none;
  border: 2px solid rgba(137, 136, 136, 0.4);
  padding: 4px 4px;
  margin-bottom: 8px;
  border-radius: 12px;
  background-color: white;
}

.booking-follower-li:last-child {

  margin-bottom: 0;
}

.clicked-button {
  background-color: white;
  border: 1px solid $golfgreen;
  color: $golfgreen;
}
