.btn{
  width: 100px;
  border-radius: 10px;
}
.btn a{
  color: white;

}
.success{
  margin-bottom: 10px;
  background-color: #618B4A;
  margin-left: 60px;
}
.danger{
  background-color: #618B4A;
}

.booking-container {
  width: 500px;
  height: 300px;
  background-color: #7aa095;
  position: relative;
  top: 200px;
  opacity: 0.8;
  border-radius: 20px;
}
.booking{
  text-align: center;
  font-weight: bold;
  margin-top:20px;

}
.course-name{
  text-align: center;
  font-size: 30px;
}

.border{
  text-align: center;
  box-shadow: 10px 5px 5px black;
  width: 300px;
  margin: auto;
  margin-bottom: 10px;
}

.booking-page-container img{
   position: absolute;
}
.row{
  color:#40531B;
}
