.main-dashboard-container {
  height: 100vh;
  width: 75%;
  margin: auto;
}

.flash {
  padding: 16px 24px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: white;
  box-shadow: 0 0 8px rgba(0,0,0,0.2);
  border-radius: 4px;
  margin: 8px;
}

.flash-success {
  border: 2px solid #1EDD88;
}

.flash-warning {
  border: 2px solid #FFC65A;
}

.flash-danger {
  border: 2px solid #FD1015;
}

.box-shadow {
  margin-top: 30px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
}

.dashboard-cursor {
  cursor: pointer;
  color: white;
  font-size: 1rem;
  text-align: center;
}


.dashboard-cursor:hover {
  color: lightgrey;
}

.dashboard-modal-button {
  background-color: $golfgreen;
  color: white;
  padding: 6px 18px;
  border-radius: 10px;
}

.dashboard-accept-button {
  background-color: $golfdarkgreen;
  color: white;
  padding: 6px 18px;
  border-radius: 10px;
  // margin-right: 8px;
}

.dashboard-accept-button:hover {
  background-color: $golfgreen;
  color: white;
  padding: 6px 18px;
  border-radius: 10px;
}

.dashboard-invitations-info {
  margin-bottom: 0;
}

.dashboard-bookings li {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 0;
}
.dashboard-booking-delete {
  // color: rgb(247, 138, 138);
}

.dashboard-booking-particulars {
  margin-left: 6px;
  align-items: flex-start;
  justify-content: center;
  display: flex;
  flex-direction: column;
}

.dashboard-booking-particulars a {
  color: $golfdarkgreen;
}

.dashboard-booking-particulars a:hover {
  color: $golfgreen;
}

.dashboard-booking-delete i {
  color: $golfdarkgreen;
}

.dashboard-booking-delete i:hover {
  color: $golfgreen;
  background-color: rgba(208, 205, 205, 0.3);
  border-radius: 50%;
  padding: 8px;
  transform: translateX(8px);
}

.dashboard-ignore-icon {
  color: $golfdarkgreen;
  // margin-left: 8px;
}
.dashboard-ignore-icon:hover {
  color: $golfgreen;
  background-color: rgba(208, 205, 205, 0.3);
  border-radius: 50%;
  padding: 8px;
  transform: translateX(8px);
}


.dashboard-booking-particulars p {
  margin: 0.25rem 0rem;
}


.dashboard-booking-delete:hover {
  color: lightgrey;
}

.dashboard-modal-button:hover {
  background-color: $golfdarkgreen;
  color: white;
}

.dashboard-show-bookings {
  // background-color: #40531B;
  margin: auto;
  border-radius: 12px;
  height: 100%;
  // border-left: 1px solid black;
  display: flex;
  justify-content: space-between;
  margin-top: 40px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
}

.bookings-container {
  background-color: #40531B;
  margin: auto;
  border-radius: 12px;
  height: 100%;
  // border-left: 1px solid black;
  display: flex;
  justify-content: space-between;
  width: 65%;
}

.dashboard-empty-booking {
  min-height: 250px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.dashboard-empty-booking a {
  color: $golfdarkgreen;
}

.dashboard-bookings {
  width: 100%;
  background-color: #FFFFFF;
  // display: flex;
  // justify-content: center;
  // align-items: center;
}

.dashboard-bookings-li:last-child {
  margin-bottom: 0;
}

.dashboard-bookings ul {
  list-style: none;
  padding-left: 0;
  margin-bottom: 0;
}

.dashboard-link {
  background-color: green;
}

.dashboard-socials {
  margin: auto;
  background-color: $golfpalegreen;
}

.dashboard-social-follows {
  background-color: $golfdarkgreen;
  color: white;
}

.dashboard-container {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;

}

.dashboard-profile-box {
  background: $golfpalegreen;
  text-align: center;
  padding: 40px;
  color: white;
  position: relative;
  border-radius: 20px;
}

.dashboard-menu-icon {
  width: 25px;
  position: absolute;
  left: 40px;
  top: 40px;
}

.dashboard-setting-icon {
  width: 25px;
  position: absolute;
  right: 40px;
  top: 40px;
}

.dashboard-profile-pic {
  width: 15px;
  border-radius: 50%;
  background: white;
  padding: 6px;
  margin-top: 40px;
}

.tabs-underlined {
  display: flex;
  align-items: center;
}

.tabs-underlined .tab-underlined {
  color: black;
  padding: 8px;
  margin: 8px;
  opacity: .4;
  cursor: pointer;
  text-decoration: none;
  border-bottom: 4px solid transparent;
}

.tabs-underlined .tab-underlined.active {
  opacity: 1;
  border-bottom: 3px solid #555555;
}

.dashboard-popup-heading {
  background-color: $golfdarkgreen;
}

.dashboard-popup-link {
  color: lightgrey;
}

.dashboard-popup-link:hover {
  color: white;
}

.dashboard-unfollow {
  font-size: 0.6rem;
  color: black;
  background-color: lightgray;
  padding: 4px 8px;
  border-radius: 4px;
}

.dashboard-unfollow:hover {
  color: white;
  background-color: darkgrey;

}

.dashboard-invitations {
  // border: 1px solid $golfgreen;
  // box-shadow: 0 0 4px rgba(0,0,0,0.2);
  // border-radius: 16px;
  background-color: white;
  width: 99%;
  // margin-bottom: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.dashboard-invitations:last-child {
  margin-bottom: 0;
}

// .dashboard-ignore-invitation {
//   color: $golfdarkgreen;
// }

.dashboard-invitation-count {
  margin-bottom: 0px;
  max-height: 60px;
  // border: 1px solid black;
}

.dashboard-invitations a {
  color: $golfdarkgreen;
}

.dashboard-invitations a:hover {
  color: $golfgreen;
}

.dashboard-invites {
  // background-color: coral;
  // border: 1px coral;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  justify-content: center;
}

.dashboard-invitation-actions {
  display: flex;
  align-items: center;
  // border: 1px solid black;
  width: 120px;
  justify-content: space-between;
}

.dashboard-invitations-container {
  display: flex;
  flex-direction: column;
  // align-items: center;
  // padding-left: 20px;
  width: 65%;
  // justify-content: space-evenly;
  padding: 20px 10px;
  border-radius: 12px;
}

.dashboard-info-panel {
  display: flex;
  justify-content: space-evenly;
  min-height: 250px;
  border-radius: 12px;
}

.dashboard-nav-tabs {
  padding: 20px;
  background-color: #618B4A;
}

.dashboard-info-panel-photo {
  min-height: 250px;
  width: 35%;
  // border: 1px solid black;
  background-image: linear-gradient(rgba(47, 48, 58, 0.5), rgba(47, 48, 58, 0.8)), url(/assets/friends6.jpg);
  background-size: cover;
  background-position-y: 53%;
  position: relative;
  border-top-right-radius: 12px;
  border-bottom-right-radius: 12px;
}

.dashboard-booking-panel-photo {
  min-height: 250px;
  width: 35%;
  // border: 1px solid black;
  background-image: linear-gradient(rgba(47, 48, 58, 0.5), rgba(47, 48, 58, 0.8)), url('friends4.jpg');
  background-size: cover;
  background-position-y: 53%;
  position: relative;
  border-top-right-radius: 12px;
  border-bottom-right-radius: 12px;
}

.dashboard-clicked {
  border-bottom: 1px solid;
  font-weight: bold;
}
