.search-form-control .form-control {
  height: 3rem;
  box-shadow: 0 2px 6px rgba(0,0,0,0.08);
  border: 1px solid #E7E7E7;
  margin-top: 15px;
}

.search-form-control .btn {
  top: 8px;
  bottom: 8px;
  right: 8px;
  margin-left: 10px;
  color: white;;
  background-color: $golfdarkgreen;
  height: 3rem;
  margin-top: 15px;
}

.search-form-control .btn:hover{
  background-color: $golfgreen;
  color: white;
  top: 8px;
  bottom: 8px;
  right: 8px;

}
