// .grid-course {
//   display: grid;
//   grid-template-columns: 1fr 1fr 1fr 1fr;
//   grid-gap: 16px;
// }

.index-container {
  display: flex;
}

#map {
  height: 100vh;
  position: sticky;
  top: 0;
  margin-bottom: 32px;
}

.cards-show {
  flex-grow: 1;
}
