.navbar-lewagon {
  justify-content: space-between;
  background: white;
  font-size: medium;

}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 65px;
}

.nav-link {
  text-decoration: none !important;
}
