.container{
  background-color: white;
  width: 100%;
}
.cards{
  margin-top: 50px;
  margin-bottom: 50px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap:16px;
  width: 100%;
}
a {
  text-decoration: none; /* Убираем подчёркивание */
 }
.scale {
  transition: 1s;
}
.scale:hover{
  transform: scale(1.05);
}
.card-course-info {
  margin-top:10px;
  margin-left:10px;
  color: #40531B;

}
.display-flex{
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  position: relative;
}

.card-golf-pricing {
  margin-right: 10px;
  padding-bottom: 10px;
  font-size: 20px;
  font-weight: bold;
}
// .display-flex {
//   display: block;
//   text-align: center;
// }

.item{
  flex: 1 1 auto;

}
.course-card{
  overflow: hidden;
  background-color: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  margin-left:10px
}

.course-name{
  font-size: 18px;
}
.course-info{
  font-size: 14px;
}

.location{
  text-align: center;

}
.hole{
  // padding-bottom: 10px;
}
