#carouselExampleCaptions {
  width: 100%;
  padding-top: 24px;
  padding-left: 90px;
  padding-right: 80px;
}

.image-carousel {
  height: 400px;
  width: 560px;
  object-fit: cover;
  border-radius: 12px;
}

.no-hover-color:hover {
  color: none !important;
}

.row {
  color: black;
}

.carousel-indicators [data-bs-target] {
  height: 170px;
  width: 300px;
  border-radius: 12px;
}

.show-description {
  color: black;
  padding: 24px;
  overflow: hidden;
  height: 400px;
  width: 500px;
  width: fit-content;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.show-row {
  // display: flex;
}

.carousel-indicators {
  bottom: -205px;
}

.title-show {
  color: #40531B;
  padding-left: 100px;
  padding-right: 80px;
  padding-top: 24px;
  // padding-bottom: 48px;
  font-family: 'Barlow Semi Condensed', sans-serif;
}

.description-show {
  border-top: 1px solid #eaf4e4;
  padding-left: 50px;
  // padding-right: 10pxpx;
  padding-top: 24px;
  margin-top: 20px;
  margin-left: 100px;
  color: #40531B;
  // width: 60%;
  font-size: 1em;
  display: flex;
  // justify-content: ;
  // flex-direction: column;
}

.description-show h5 {
  font-family: 'Barlow Semi Condensed', sans-serif;
  color: #40531B;
}

.width-description {
  width: 60%;
}

.description-div {
  border-top: 1px solid #eaf4e4;
  justify-content: flex-start;
  // width: 50%;
  padding-right: 80px;
  padding-top: 20px;
  // margin-top: 100px;
  margin-right: 40px;
  padding-bottom: 20px;
  font-family: 'Barlow Semi Condensed', sans-serif;
}

.nav-user{
  flex-direction: column;
  margin-right: 10px;
}

.course-slots-container {
  // flex-direction: column;
}
.show-review-div {
  border-top: 1px solid #eaf4e4;
  padding-top: 20px;
  margin-top: 20px;
  padding-left: 20px;
}

.body-show {
  border: 1px solid #eaf4e4;
  padding: 20px;
  margin-left: 0px;
  border-radius: 12px;
  position: sticky;
  top: 100px;
  left: 55%;
  margin-bottom: 20px;
  height: fit-content;
  width: 375px;
  // margin-right: 100px;
  margin-top: 45px;
  // padding-left: 60px;
  // padding-right: 60px;
}

.body-review {
  border: 1px solid #eaf4e4;
  margin-left: 30px;
  padding: 20px;
  margin-left: 0px;
  // padding-left: 20px;
  border-radius: 12px;
  margin-top: 20px;
  margin-bottom: 20px;
  // height: 400px;
  width: 550px;
  justify-content: center;
}

.user-show {
  border: 1px solid rgb(68, 171, 12);
  color: black;
  padding: 12px 15px;
  margin-bottom: 10px;
  border-radius: 12px;
  background-color: #eaf4e4;
}

.book-main {
  border: 1px solid rgb(68, 171, 12);
  color: #618B4A;
  padding: 3px 50px;
  margin-bottom: 10px;
  border-radius: 12px;
  background-color: #eaf4e4;
  font-size: 30px;
  text-decoration: none !important;
}

.book-main:hover {
  opacity: 0.6;
  color: #40531b;
}

.book-main1 {
  border: 1px solid rgb(68, 171, 12);
  color: #618B4A;
  padding: 3px 50px;
  margin-bottom: 10px;
  border-radius: 12px;
  background-color: #eaf4e4;
  font-size: 20px;
  font-family: 'Barlow Semi Condensed', sans-serif;
  letter-spacing: 3px;
}

.book-main1:hover {
  opacity: 0.6;
  color: #40531b;
}

.button-show-review {
  color: #eaf4e4;
  // background-color: #eaf4e4;
  text-decoration: underline;
  color: #40531b;
}

.button-show-review:hover {
  color: #618B4A;
}
#new_booking {
  border: 1px solid #eaf4e4;;
  padding: 20px;
  border-radius: 12px;
  margin-bottom: 20px;
  font-family: 'Barlow Semi Condensed', sans-serif;
}

.form-select {
  border-radius: 12px;
  background-color: #eaf4e4;
  margin-left: 0px;
}
.container-show-page {
  background-color: white;
  border-top: 1px solid #eaf4e4;
  // display: flex;
}

.form-label {
  color: black;
  font-size: small;
}

.form-control {
  border-radius: 12px;
  background-color: #eaf4e4;
}
.show-card {
  overflow: hidden;
  height: 400px;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.show-card img {
  // height: 100%;
  // width: 120px;
  object-fit: cover;

}

.show-card h2 {
  font-size: 32px;
  font-weight: bold;
  // margin: 0;
  margin-left: 25px;
  color: #40531b;
}

.show-card h3 {
  font-size: 18px;
  font-weight: bold;
  // margin: 0;
  margin-left: 25px;
  margin-top: 10px;
  color: #40531b;
}

.show-card p {
  font-size: 18px;
  line-height: 1.4;
  opacity: .7;
  margin-bottom: 0;
  margin-top: 8px;
  margin-left: 25px;
  color: #40531b;
}

.show-card .show-card-infos {
  // padding: 16px;

}

.show-card-slots {
  overflow: hidden;
  height: 400px;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-top: 20px;
  margin-bottom: 20px;
}

.show-card-slots-reviews {
  // overflow: hidden;
  // height: 400px;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-top: 20px;
  margin-bottom: 20px;
}

.button-show {

  padding: 12px 15px;
  text-align: center;
  text-decoration: none;
  font-size: 20px;
  border-radius: 12px;
  top: 8px;
  bottom: 8px;
  right: 8px;
  border: none;

  color: white;
  background-color: #40531b;
}

.button-show:hover {
  top: 8px;
  bottom: 8px;
  right: 8px;
  color: white;
  background-color: #618B4A;
}

// .button-show:focus {
// 	outline: none;
// }

// .success{
//   margin-bottom: 10px;
//   background-color: #618B4A;
//   margin-left: 60px;
// }
// .danger{
//   background-color: #618B4A;
// }

#slot-button {
  // background-color: #618B4A;; /* Green */
  // color: white;
  padding: 12px 30px;
  text-align: center;
  text-decoration: none;
  // display: inline-block;
  font-size: 20px;
  // margin: 20px;
  // justify-content: right;
  border-radius: 12px;
  top: 8px;
  bottom: 8px;
  right: 8px;
  border: none;
  // margin-left: 15px;
  color: white;
  background-color: #40531b;
  margin-top: 15px;
  margin-bottom: 15px;
  font-family: 'Barlow Semi Condensed', sans-serif;
}

#slot-button:hover {
  top: 8px;
  bottom: 8px;
  right: 8px;
  color: white;
  background-color: #618B4A;
}

#slot-button:focus{
  background-color: white;
  color: #618B4A;
  border: 1px solid #618B4A;
  margin-left: 10px;
  top: 8px;
  bottom: 8px;
  right: 8px;
}

#button-back {
  margin-left: 10px;
  background-color: #40531b;
  color: white;
  padding: 12px 30px;
  text-align: center;
  text-decoration: none;
  display: flex;
  font-size: 20px;
  justify-content: center;
  border-radius: 12px;
  width: 160px;
  margin-bottom: 10px;
}

#button-back:hover {
  top: 8px;
  bottom: 8px;
  right: 8px;

  background-color: white;
  color: #618B4A;
  border: 1px solid #618B4A;
}

#button-back:focus {
    background-color: #618B4A;
    color: white;
    border: none;
    margin-left: 10px;
    top: 8px;
    bottom: 8px;
    right: 8px;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: flex;
    font-size: 13px;
    justify-content: center;
    border-radius: 12px;
    width: 150px;
    display: none;
  }

.carousel-item {
  transition: transform 0s ease-in-out;
}

.carousel-control-next-icon {
  height: 50px;
  width: 50px;
}

.span {
  color: rgb(68, 171, 12);
  margin: 0;
}

.card-review {
  border: none;
  color: black;
}
