.usershow-bookings-panel {
  background-color: white;
  display: flex;
  justify-content: center;
}

.usershow-bookings {
  width: 300px;
  display: flex;
  justify-content: space-around;
  border-left: 1px grey;
  border-right: 1px grey;

  // flex-direction: column;
}

.usershow-bookings-tab {
  background-color: green;
  color: white;
  padding: 10px 5px;
  text-align: center;
  border-left: 1px grey;
  border-right: 1px grey;
}

.user-imgs {
  height: 150px;
  width: 150px;
  border-radius: 12px;
}

.name-show-past {
  color:  #618B4A;
}

.name-show-past:hover {
  color: $golfdarkgreen;
}


.user-page-bio-info {
  display: flex;
  justify-content: center;
  width: auto;
  margin: 0;
}

.user-follows {
  // border: solid;
  display: flex;
  justify-content: center;
}

.user-follow-panel {
  width: 60%;
  display: flex;
  justify-content: space-evenly;
  color: #618B4A;
}

.user-follows {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}
